# Ignore all data/datasets
data/
datasets/
ASL Alphabet Archive/

# Ignore Python environment
venv/
env/
.env
__pycache__/
*.pyc

# Ignore audio temp files
*.mp3

# Ignore Streamlit config
.streamlit/

# OS specific
.DS_Store

# IDEs
.vscode/
.idea/
