absl-py
altair
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cycler
flatbuffers
fonttools
gitdb
GitPython


idna
Jinja2
joblib
jsonschema
kiwisolver
MarkupSafe
matplotlib
mediapipe==0.10.9
numpy
opencv-python==4.7.0.72
opencv-contrib-python==4.7.0.72
packaging
pandas
pillow
protobuf
pygame
pycparser
pydeck
pyparsing
python-dateutil
pyttsx3
pytz
referencing
requests
rpds-py
scikit-learn
scipy
six
smmap
sounddevice
streamlit
tenacity
threadpoolctl
toml
tornado
tqdm
typing_extensions
tzdata
urllib3
